language: node_js
node_js:
  - "0.12"
  - "0.11"
  - "0.10"
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
after_success:
  - cat coverage/lcov.info | node_modules/coveralls/bin/coveralls.js
