{
  // ESLint config
  // http://eslint.org/docs/rules/

  "env": {
    "mocha":                    true,               // Mocha
  },

  "globals": {
    "SwaggerParser":            true,               // Swagger Parser
    "helper":                   true,               // Test fixtures
    "userAgent":                true,               // Test fixtrues
    "chai":                     true,               // Chai
    "expect":                   true,               // Chai
    "path":                     true,               // Node
    "superagent":               true,               // SuperAgent
  },

  "rules": {
    "require-jsdoc":            0,                  // Don't require doc comments for tests
    "no-unused-expressions":    0,                  // Chai property syntax triggers this rule
    "max-nested-callbacks":     0,                  // Mocha BDD syntax leads to deeply-nested callbacks
    "no-invalid-this":          0,                  // Mocha BDD syntax triggers this rule
    "no-loop-func":             0,                  // We need to dynamically create BDD suites/tests
    "global-require":           0,                  // Nested `require` is required, since tests can run in Node or browsers
    "strict":                   [2, "function"],    // require the "use strict" pragma in a function
  }
}
