openapi: 3.1.0
info:
  title: Xquik API
  version: "1.0"
servers:
  - url: https://xquik.com
paths:
  /api/v1/x/tweets/search:
    get:
      operationId: searchTweets
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Search results.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedTweets"
      security:
        - apiKey: []
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
  schemas:
    PaginatedTweets:
      type: object
      required:
        - tweets
        - has_next_page
        - next_cursor
      properties:
        tweets:
          type: array
          items:
            $ref: "#/components/schemas/Tweet"
        has_next_page:
          type: boolean
        next_cursor:
          type: string
    Tweet:
      type: object
      required:
        - id
        - text
        - retweetCount
        - replyCount
        - likeCount
        - quoteCount
        - viewCount
        - bookmarkCount
      properties:
        id:
          type: string
        text:
          type: string
        retweetCount:
          type: integer
        replyCount:
          type: integer
        likeCount:
          type: integer
        quoteCount:
          type: integer
        viewCount:
          type: integer
        bookmarkCount:
          type: integer
        author:
          $ref: "#/components/schemas/UserProfile"
    UserProfile:
      type: object
      required:
        - id
        - username
        - name
      properties:
        id:
          type: string
        username:
          type: string
        name:
          type: string
