@import "variables";

// The "Validate!" button
.btn-group-lg {
  .btn-primary,
  .btn-primary:hover,
  .btn-primary:focus {
    color: $lightest;
    text-shadow: 0 1px 3px $darkest-transparent;
    background-color: $contrast-dark;
    border: 1px solid $contrast-darkest;
  }

  .btn-lg:first-child {
    padding: 10px 20px;
    font-weight: bold;
    outline: none;
  }

  .dropdown-menu {
    font-size: larger;
    text-shadow: none;
  }
}
